{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block content %}




<div class="container">
    <form action="{% url 'login' %}" method="POST" />

    {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Login Page
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group py-3">
            <input class="btn btn-outline-primary" type="Submit" value="Sign In">
        </div>
    </form>
</div>


{% endblock content %}





