{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% load static %}
{% block title %} Recipe detail {% endblock title %}

{% block content %}

{% if recipe.user == user %}
<div class="border-top">
    <a href="{% url 'update_recipe' recipe.id %}">Edit</a>
    <a href="{% url 'delete_recipe' recipe.id %}">Delete</a>

    {% else %}
{% endif %}


<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">




<table width="100%" cellspacing="1" cellpadding="1" align="center"></table>
<tbody>
  <tr>
    <td valign="top">  <img src="{{ recipe.image.url }}" style="width:50%; height:50%; float:left; margin-right:10px; margin-bottom:10px; margin-top:10px; margin-left:10px; ">
      <br>
    </td>
    <td valign="top">  <h1>{{ recipe.name }}</h1>
      <h5>{{ recipe.description }}</h5>
      
  
          <h3>Ingredients</h3>
  
      <ul class="recipe-card__ingredients">
        {% for ingredient in ingredients %}
        <li>{{ingredient.name}}</li>
      {% endfor %}
      </ul>
      <h3>Instructions</h3>   
      <p>{{ recipe.instructions}}</p>
  
          <h3>Cooking time:</h3>
  
        <p>{{recipe.time_to_cook}}</p>
    
      
      <h3>Calories:</h3>     
      <p>{{ recipe.calories }}</p><br>
    </td>
  </tr>
</tbody>
</table>








      



        
{% endblock content %}







